<!-- <li class="post list-group-item"><span class="post-header">At {{timeString createdAt}}, {{authorString author}} said:</span> {{body}}</li> -->
<li><ul class="whole-post list-group list-group-horizontal"><li class="post-header list-group-item">At {{timeString createdAt}}, {{authorString author}} said:</li> <li class="post list-group-item">{{body}}</li></ul></li>
